*{
    color: darkslategray;
    background: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, #searchHistory {
    color: darkslategray;
    font-weight: bolder;
    background-color: mediumturquoise;
    border-radius: 8px;
    text-align: center;
}
#mainHeader {
    display: block;
    background-color: mediumturquoise;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 20px;
    
}
#city, #search {
    display: block;
    border-radius: 6px;
    background-color: lightblue;
    box-shadow: 2px 5px 8px linen;
    align-items: center;
    margin:30px auto;
    padding-left: 40px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}
#cityName, #date, .city {
    background-color: lightyellow;
    font-weight: bold;
}
#search-history {
    border-radius: 4px;
    background-color: mediumturquoise;
    color: #222;
    text-align: center;

}
 .block{
    background-color: mediumturquoise;
}
/*.title {
    background-color: lightyellow;
}*/
.container {
    background-color: lightyellow;
    border-radius: 10px;
    text-align: center;
    padding:10px;
}
.cityContainer {
    display: block;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    background-color: lightyellow;
}
#weatherContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: dotted 1px gray;
    border-radius: 8px;
    background-color: mediumturquoise;
    color: darkgrey;
    font-weight: bold;
    margin: 5%;
}
.card-content {
    border-radius: 8px;
    box-shadow: 2px 5px 7px mediumvioletred;
    text-align: center;
    padding-bottom: 10px;
    margin: 5px;
    background-color: azure;
}
.cards {
    background-color: azure;
}
.p {
    background-color: azure;
}
